.container {
  padding: 0 5rem;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;

  .align {
    display: flex;
    justify-content: flex-end;
  }

  .adornment {
    background: transparent;
    border: none;
  }
}
